.card{
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.container-flex {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.container-grip {
    display: grip;
    gap: 1.5rem;
}

.img-with {
    width: 100px;
    display: grid;
    margin-left: 1rem;
}